.tropical{
  background-color: sandybrown;
  font-family: fantasy;
  text-align: center;
}
.popular{
  background-color: seashell;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}